<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<div ng-app="myApp">

	<div ng-controller="FirstCtrl">
		<div class="container">

			<div class="row">
				<div ng-controller="FirstCtrl">
					<label> Filter:
						<input class="form-control" ng-model="search">
					</label>

					<table class="table table-hover">
						<thead>
						<tr>
							<th>NAME</th>
							<th>AGE</th>
						</tr>
						</thead>

						<!--ng-filter-->
						<tr ng-repeat="man in people | filter:search">
							<!--filter-->
							<td>{{man.name | UpperCase}}</td>
							<td>{{man.age}}</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>

</div>
<script src="bower_components/angular/angular.js"></script>
<script src="main.js"></script>
</body>
</html>
